

:root {
    --cor1: #142d4c;
    --cor2: #385170;
    --cor3: #9fd3c7;
    --cor4: #ececec;
    --cor5: #213e3b;
    --cor6: blueviolet;
    --cor7: #1e90ff;
  }

body {
    color: #e8ffff;
    background-color: var(--cor5);
    margin: 20px;
    text-align: center;
}



.container{
    display: flex;
    justify-content: center;
    align-self: stretch;
    gap: 20px;
}

/* button{
    padding: 10px;
    color: var(--cor5);
    background-color: var(--cor4);
} */

.containerTiluto{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.h2{
    text-align: center;
    flex-grow: 1; /* Faz o h2 ocupar todo o espaço restante */

}

.invisivel{
    color: var(--cor5);
}